body {
  
  font-size: 18.5px; font-family: "Times New Roman", arial, verdana; 
} 

article {
  width: 800px; margin: auto; 
}




//h2 {
  color:brown;
}
//[href="#1111"] {
  color:brown;
}