body {
  
  font-size: 15px; font-family: arial, "Times New Roman", verdana; 
} 

article {
  width: 800px; margin: auto; 
}




//h2 {
  color:brown;
}
//[href="#1111"] {
  color:brown;
}
