body {
  
  font-size: 18.5px; font-family: "Times New Roman", arial, verdana; background color: blue;
} 

article {
  width: 800px; margin: auto; 
}

 h5, #A1111, #B1112 {
    background-color:lightyellow; color:red;
}          

